nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0em 0.25em 0.5em #00000012;
  position: sticky;
  left: 0px;
  right: 0px;
  top: 0px;

  font-size: 28px;
  padding: 0.25em 2em;
}

nav .nav-left,
nav .nav-right {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

nav button {
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25em;
  border-radius: 1em;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  border: none;
  color: #818181;
  background-color: #00000000;
  cursor: pointer;
  transition-duration: 150ms;
}

nav button .material-icons-round,
nav button .material-icons-outlined {
  font-size: 1em;
}

nav button:hover {
  background-color: #00000012;
}

@media only screen and (max-width: 512px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav button.hidden-mobile {
    display: none;
  }
}